*{
  margin: 0;
}
.app{
  background-color:#fafafa ;
  width: 100%;
  
}
.app__header{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.app__headerImage{
 
  object-fit: contain;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__post{
  padding: 20px;
  display: flex;
  justify-content: center;
 
}
.app__postRight{
 margin-left: 20px;
}

@media(max-width:1100px){
  .app__post{
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
  .app__postRight,.app__postLeft{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
  }
  .app__postRight{
    flex-wrap: wrap;
  }
}